<h1 style="color: #B00100" class="text-center mt-4">Listing all Articles</h1>

<%= render 'article' %>
<p style="text-align: center" class="create-article">
  <%= link_to '[Create new Article]', new_article_path, class: "text-primary" %>
</p>