<div id="page-content">
  <h1 style="color: #B00100" class="text-center mt-4 font-weight-lighter">Create a new Articles</h1>
  <%= render 'form' %>

<%#= link_to 'Return to articles listing', article_path %>
</div>
