<h1 style="text-align: center" class="mt-4">Editing User</h1>

<%= render 'form', user: @user %>

<div class= "card-body" style="text-align: center">
<!--  <p style="text-align: center" class="mt-4">-->
    <%#= link_to 'Show', @user, class: "btn btn-secondary" %>
<!--  </p>-->
<!--  <p style="text-align: center" class="mt-4">-->
    <%#= link_to 'Back', users_path, class: "btn btn-success text-white" %>
<!--  </p>-->
</div>